* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(75deg, #fcc, #cff);
  background-size: contain;
/*   padding: 32px; */
  min-width: 635px;
/*   max-height: 100vh; */
  text-align: center;
  font-family: Aleo, garamond, arial;
}

h1 {
  display: block;
  background: linear-gradient(75deg, #fcc, #cff);
  margin: 5vh auto;
  padding: 4px;
  max-width: 550px;
  border: thick solid white;
  border-radius: 24px;
  box-shadow: 0 0 20px 4px rgba(0,0,0,0.2);
}

#cash-in-drawer-grid {
  background: lightblue;
  display: grid;
  grid-template-areas:
    "hundred twenty ten five dollar"
    "quarter dime nickel penny total";
  border: 1px solid;
  box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2); 
}

.cash-container {
  border: thin solid black;
}

.cash-container p:first-child {
  line-height: 12px;
  font-size: 0.9em;
  color: #333;
}

.empty-cash {
  background: red;
  opacity: 0.4;
}

.denomination-value::before, .results-display::before, .cash-value::before, .cash::before {
  content: "€";
}

.cash-value {
  line-height: 32px;
  font-size: 1.1em;
  font-weight: bold;
}

#button-container {
  display: flex;
  margin: 12px auto;
  justify-content: space-evenly;
  align-items: center;
/*   box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2); */
}

.button {
  background: gray;
  display: inline-block;
/*   margin: 24px auto 12px auto; */
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid;
  box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
  cursor: pointer;
}

.button:hover {
  background: lightgray;
}

/*  Doesn't transform so well with text; goes blurry and transition is too small to be useful. */
 .hover-shadow {
  transition: transform 60ms;
}

.hover-shadow:hover {
  box-shadow: 0 0 6px 0px rgba(0,0,0,0.5);
  transform: scale(1.04);
}

#set-cash {
  line-height: 25px;
}

#payment-input-value {
/*   line-height: 2.5em; */
  display: inline-block;
  padding: 13px 4px;
  width: 130px;
  font-size: 18px;
  text-align: right;
}

#sale-summary-display {
  display: none;
  grid-template-areas:
    "receipt summary"
    "receipt summary"
    "receipt summary"
    "receipt summary"
    "receipt summary"
    "button1 button2";
  grid-gap: 32px;
  background: lightgreen;
  position: absolute;
  overflow: hidden;
  padding: 32px;
  width: 80%;
  height: 80%;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 0 4px 20px 4px rgba(0,0,0,0.5);
  z-index: 1;
}

.summary-display {
  background: white;
  max-height: 453px;
  overflow: scroll;
  border: thin solid;
  border-radius: 5px;
}

.list-container {
  margin: auto;
  min-width: 110px;
  max-width: 260px;
}

.summary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 12px;
  border: thin solid;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/*.button-text {
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

#receipt-display {
  grid-area: receipt;
}

#payment-summary-display {
  grid-area: summary;
}

#print-receipt-button {
  background: yellow;
  grid-area: button1;
}

#print-receipt-button:hover {
  background: #ffff5b;
}

#next-customer-button {
  background: orange;
  grid-area: button2;
}

#next-customer-button:hover {
  background: #ffc666;
}

ul {
  padding: 6px;
  list-style: none;
}

.list-item {
  display: block;
}

.list-total {
  display: block;
  margin-top: 32px;
  font-weight: bold;
}

#receipt-goods, #summary-subject {
  float: left;
  text-align: left;
}

#summary-lists li {
  margin: 12px auto;
}

#summary-subject {
  font-weight: bold;
}

#receipt-price, #summary-detail {
  float: right;
  max-width: 50%;
  text-align: right;
}

#top-row-container {
  background: white;
  position: relative;
  display: flex;
  margin: auto;
  padding: 3px;
  box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2); 
  border: 2px solid;
}

#button-blocker {
  background: rgba(255,255,255, 0.45);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Both side-boxes have an "order" value so they
can be switched easily. Items on left seems more
intuitive as filling the basket is the first step,
however people using the system would most likely
be right-handed and with the items/keys on the right,
they could see what the display was reading on the left. */
.side-box {
  width: 49.8%;
  margin: 0 auto;
}

#sellable-items {
  background: orange;
  order: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 14px;
  padding: 14px;
  align-items: center;
  justify-items: center;
  border: 2px solid;
}

.item {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border: thin solid;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.item:hover {
  background: #c3ebf7;
}

#number-displays {
  background: #0dbf0d;
  order: 0;
  padding: auto 20px;
  border: 2px solid;
}

#number-displays div {
  line-height: 10px;
}

#number-displays p {
  font-size: 20px;
}
