:root {
  --eerie: #070A12;
  --seaweed: #0B7189;
  --yellow: #FFD166;
  --pewter: #93B7BE;
  --france: #228CDB;
  --error-red: #E53939;
}

* {
  box-sizing: border-box;
  color: var(--eerie);
}

body {
  background: #EEE;
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  margin: auto;
  min-width: 350px;
  max-width: 1200px;
  height: 100vh;
  text-align: center;
  font-family: Aleo, garamond, arial;
}

header {
  margin: auto;
  padding: 0 24px;
  width: 100%;
  max-width: 1200px;
}

h1 {
  background: white;
  position: relative;
  float: left;
  padding: 4px;
  min-width: 202px;
  width: 50%;
  border-radius: 16px;
  box-shadow: 0 3px 20px 6px rgba(0,0,0,0.15);
}

#logo {
  float: right;
  width: 185px;
  margin-top: 9px;
  margin-right: -29px;
}

#james-hooper-logo {
  background: url(https://i.ibb.co/0D6VZ2k/logo-large-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
}

#cash-in-drawer-grid {
  background: #9ACAEE;
  display: grid;
  grid-template-areas:
    "hundred twenty ten five dollar"
    "quarter dime nickel penny total";
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 var(--seaweed); 
}

.cash-container {
  border: thin solid var(--pewter);
}

.cash-container p:first-child {
  line-height: 12px;
  font-size: 0.9em;
  color: #333;
}

.empty-cash {
  background: red;
  opacity: 0.4;
  border: none;
}

.cash-symbol::before {
  content: "€";
}

.cash-value {
  line-height: 32px;
  font-size: 1.1em;
  font-weight: bold;
}

#button-container {
  display: flex;
  padding: 6px;
  margin: 12px 4px;
  justify-content: space-evenly;
  align-items: center;
}

.sub-button-container {
  display: flex;
}

.button {
  background: lightgreen;
  display: inline-block;
  margin: auto 0.39vw;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background: #B4FCB4;
}

.hover-shadow {
  transition: transform 70ms;
}

.hover-shadow:hover {
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.35);
  transform: scale(1.04);
}

#set-cash, #remove-item {
  background: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  line-height: 24px;
}

#set-cash:hover, #remove-item:hover {
  background: #FFE19D;
}

#payment-input-value {
  padding: 13px 4px;
  width: 130px;
  border: none;
  box-shadow: 0 2px 8px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-size: 18px;
  text-align: right;
}

#sale-summary-display {
  display: none;
  grid-template-areas:
    "receipt summary"
    "receipt summary"
    "receipt summary"
    "receipt summary"
    "receipt summary"
    "button1 button2";
  grid-gap: 32px;
  background: lightgreen;
  position: absolute;
  overflow: scroll;
  padding: 32px;
  top: 12%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  border-radius: 10px;
  box-shadow: 0 4px 20px 4px rgba(0,0,0,0.5);
  z-index: 1;
}

.summary-display {
  background: white;
  overflow: scroll;
  padding: 6px 8px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
}

.list-container {
  margin: auto;
  min-width: 110px;
  max-width: 260px;
}

.summary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

#receipt-display {
  grid-area: receipt;
}

#payment-summary-display {
  grid-area: summary;
}

#print-receipt-button {
  background: yellow;
  grid-area: button1;
}

#print-receipt-button:hover {
  background: #ffff5b;
}

#next-customer-button {
  background: orange;
  grid-area: button2;
}

#next-customer-button:hover {
  background: var(--yellow);
}

ul {
  padding: 6px;
  list-style: none;
}

.list-item {
  display: block;
  border-radius: 2px;
}

.clickable-item {
  cursor: pointer;
}

.selected-item {
  background: var(--yellow);
}

.list-total {
  display: block;
  margin-top: 32px;
  font-weight: bold;
}

#receipt-goods, #summary-subject, #basket-goods {
  float: left;
  text-align: left;
}

#summary-lists li {
  margin: 0 auto 12px auto;
}

#summary-subject {
  font-weight: bold;
}

#receipt-price, #summary-detail, #basket-price {
  float: right;
  max-width: 50%;
  text-align: right;
}

#top-row-container {
  background: var(--seaweed);
  position: relative;
  display: flex;
  flex: 2;
/*   margin: auto; */
  padding: 10px;
  min-height: 300px;
  box-shadow: 0 0 12px 4px rgba(0,0,0,0.2); 
  border-radius: 5px;
}

#button-blocker {
  background: rgba(255,255,255, 0.45);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Both side-boxes have an "order" value so they
can be switched easily. Items on left seems more
intuitive as filling the basket is the first step,
however people using the system would most likely
be right-handed and with the items/keys on the right,
they could see what the display was reading on the left. */
.side-box {
  width: 49%;
  margin: 0 auto;
  border-radius: 5px;
}

/* With more items, the current buttons could be replaced with drop-down menus or pop-up windows, such as Fruit, Vegetables, Bakery, Dairy, Frozen etc. */
#sellable-items {
  order: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 14px;
  padding: 14px;
  align-items: center;
  justify-items: center;
}

.item {
  background: #9ACAEE;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
  font-weight: bold;
  cursor: pointer;
}

.item:hover {
  background: #c3ebf7;
}

#number-displays {
  background: white;
  order: 0;
  margin: 14px;
  padding: 0 12px;
  overflow: scroll;
}

#display-header {
  display: flex;
}

#price-display {
  flex: 1;
  text-align: right;
}

#status-display {
  flex: 1;
  text-align: left;
}

#basket-display li {
  line-height: 20px;
}

#number-displays div {
  line-height: 10px;
}

#number-displays p {
  font-size: 20px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 840px) {
  .button {
    height: 50px;
    width: 50px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 670px) {
  body {
    height: auto;
  }
  
  #top-row-container {
    flex-direction: column;
    width: auto;
    height: 60vh;
  }
  
  .side-box {
    width: auto;
  }
  
  #number-displays {
    height: 36%;
  }
  
  #basket-display {
    margin-top: -34px;
  }
  
  #sellable-items {
    width: 100%;
    height: 100%;
  }
  
  #button-container {
    flex-wrap: wrap;
    margin-left: 32px;
    margin-right: 32px;
  }
  
  #payment-buttons {
    display: flex;
    order: 2;
    margin-top: 13px;
  }
}

@media only screen and (max-width: 470px) {
  #logo {
    width: 23vw;
    height: 23vw;
    margin-right: 0;
  }
  
  #james-hooper-logo {
    background: url(https://i.ibb.co/p4tv7Vb/logo-small-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23vw;
    height: 23vw;
    min-width: 86px;
    min-height: 86px;
  }
  
  header {
    padding: 0;
  }
  
  #cash-in-drawer-grid {
    grid-template-areas:
      "hundred twenty"
      "ten five"
      "dollar quarter"
      "dime nickel"
      "penny total";
  }
}

@media only screen and (max-width: 430px) {
  #payment-input {
    margin-top: 13px;
  }
}

@media only screen and (max-height: 840px) {
  body {
    height: auto;
  }
}
